.users {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 0 0;
}

.user-variation-tabs {
    display: flex;
}

.user-variation-tabs .nav-tabs .nav-item .active-tab {
    color: whitesmoke;
    background: black;
}

.users-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 0 0;
}

.users-list ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 0;
}

.search-user-input {
    margin: 25px 0 0 0;
}

.card-footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

.card-footer .input-group-text {
    width: 50%;
}

.card-footer .title-checkbox {
    position: absolute;
    bottom: 13px;
    left: 55px;
}

/* .user-found {
    margin: 0 0 25px 0;
} */

