.todos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 0 0;
    gap: 40px;
}

.todos-variation-tabs {
    display: flex;
}

.todos-variation-tabs .nav-tabs .nav-item .active-tab {
    color: whitesmoke;
    background: black;
}

.todos .todos-list {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 20px;
}

.todos .todos-list .todo-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
}

.todos .todos-list .todo-card .card {
    width: 20rem;
    height: 100%;
}

.title-completed {
    background: tomato;
}

.input-group-text{
    width: 5rem;
    position: relative;
}

.input-title {
    position: absolute;
    top: 8px;
    left: 35px;
}

.input-text {
    position: absolute;
    top: 8px;
    left: 112px;
    z-index: 10;
}
