.todos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 0 0;
    gap: 40px;
}

.todos-variation-tabs {
    display: flex;
}

.todos-variation-tabs .nav-tabs .nav-item .active-tab {
    color: whitesmoke;
    background: black;
}

.todos .todos-list {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 20px;
}

.todos .todos-list .todo-card .card {
    width: 20rem;
    height: 100%;
}

.title-completed {
    background: tomato;
}
