.login-form {
    padding: 40px 0 0 0;
}

.login-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.login-form form .row {
    width: 90%;
    display: flex;
}

.login-form form .row label {
    width: 15%;
}

form .btn {
    width: 35%;
}